jarvis_calc@ git+https://github.com/PickAim/jarvis_calc.git@v.0.1.27
jarvis_factory@ git+https://github.com/PickAim/jarvis_factory.git@v.0.1.29
fastapi>=0.103.2
starlette==0.27.0 # do not use newer cause of fastapi depends
uvicorn>=0.23.1
PyJWT==2.7.0 # do not use newer cause of fastapi depends
passlib>=1.7.4
dacite>=1.8.1
pydantic>=2.4.2
pydantic-settings>=2.0.3
SQLAlchemy>=2.0.19
phonenumbers>=8.13.17
apscheduler>=3.10.4
pytz>=2022.7
python-dotenv>=1.0.0