jarvis_calc@ git+https://github.com/PickAim/jarvis_calc.git@v.0.1.1
jarvis_factory@ git+https://github.com/PickAim/jarvis_factory.git@v.0.1.1
fastapi>=0.95.0
starlette>=0.27.0
uvicorn>=0.22.0
PyJWT>=2.7.0
passlib>=1.7.4
dacite>=1.8.1
pydantic>=1.10.7
SQLAlchemy>=2.0.12